/* fonts local */
@font-face {
  font-family: "Roboto-Thin";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
}
* {
  font-family: Roboto-Thin;
}

/* parallax */
.parallax {
  background-image: url(/img/6.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  /* margin-bottom: 20px; */
}

/* jumbotron */
.jumbotron {
  margin-top: 50px;
}

/* blog */
#intro {
  margin-top: 100px;
}

/* porfolio img */
.card {
  margin-top: 100px;
  padding: 20px;
  display: flex;
}
.kiri img {
  margin-right: 20px;
  width: 100px;
}
.kiri {
  align-items: center;
}

/* DESTOP VERSION */
@media screen and (max-width: 670px) {
  .parallax {
    min-height: 400px;
  }
}
