@font-face {
  font-family: "Roboto-Thin";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
}
* {
  font-family: Roboto-Thin;
}
.navbar {
  box-shadow: 1px 1px 5px 1px gray;
}
.container {
  padding: 30px;
  box-shadow: 1px 1px 4px 2px gray;
  width: auto;
  height: 260px;
  margin-top: 20px;
}
.kiri {
  float: left;
  width: 50%;
}

.kanan {
  float: right;
  width: 50%;
}
.kiri img {
  width: 100px;
  float: left;
  margin-right: 20px;
}
/* .kanan table {
  table-layout: auto;
} */
