@font-face {
  font-family: "Roboto-Thin";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
}
* {
  font-family: Roboto-Thin;
}

.parallax {
  background-image: url(/img/6.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  /* margin-bottom: 20px; */
}

.jumbotron {
  margin-top: 50px;
}

#intro {
  margin-top: 100px;
}
@media screen and (max-width: 670px) {
  .parallax {
    min-height: 400px;
  }
}
