@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
* {
  font-family: "Signika", sans-serif;
}

.container {
  box-shadow: 1px 1px 2px #3f51b5;
  margin-top: 80px;
  width: auto;
}
