@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
* {
  font-family: "Signika", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
}
.header {
  width: 100%;
  background-color: #282a35;
  border-bottom: 1px solid #111;
  position: relative;
}
.header .contanier {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.header .logo {
  font-size: 22px;
  color: white;
  text-decoration: none;
}
.header .contanier .nav-links {
  display: flex;
  align-items: center;
}
.header .contanier .nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  text-transform: capitalize;
  transition: 0.3s;
}
.header .contanier .nav-links a:hover,
.header .contanier .nav-links a.active {
  color: #04aa6d;
}
.header .contanier .nav-links .soc-links {
  margin-left: 40px;
}
.header .contanier .nav-links .soc-links a {
  font-size: 22px;
  margin-left: 15px;
}

#btn-menu {
  display: none;
}
section {
  padding: 10px;
  height: auto;
  margin-top: 30px !important;
  background-color: #04aa6d;
  border: 1px solid #111;
  width: 80%;
  margin: auto;
}

.kanan img {
  float: left;
  width: 100px;
}
/* media */
@media (max-width: 1000px) {
  .header .contanier {
    width: 100%;
    padding: 0 20px;
  }

  .header .contanier .nav-links a {
    font-size: 14px;
    margin-left: 20px;
  }
  .header .contanier .nav-links .soc-links {
    margin-left: 30px;
  }
}
@media (max-width: 750px) {
  #btn-menu {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 22px;
    color: #04aa6d;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 33px;
  }
  .header .contanier .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #444;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid #d4d4d4a7;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
  }
  .header .contanier .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .contanier .nav-links a {
    display: block;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4a7;
  }
  .header .contanier .nav-links .soc-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 20px 0 10px;
  }
  .header .contanier .nav-links .soc-links a {
    font-size: 25px;
    text-align: center;
    margin-left: 0;
    padding: 0;
    border-bottom: none;
  }
}
