* {
  font-family: Roboto-Thin, "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* parallax */
.parallax {
  background-image: url(/assigment1/img/6.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  /* margin-bottom: 20px; */
}

/* blog -> jumbotron */
.jumbotron {
  margin-top: 50px;
}
#intro {
  margin-top: 100px;
}

/* porfolio */
.card {
  margin-top: 100px;
  padding: 20px 40px 20px 40px;
}
.kanan {
  margin: 20px;
}
.kanan img {
  float: left;
  margin-right: 20px;
  width: 100px;
}
.kiri {
  border-left: 1px solid black;
  padding: 10px 15px;
}
.kiri table {
  margin-top: 35px;
}

.form {
  margin-top: 15px;
}
.form form p {
  margin-bottom: -0px;
}

.form input {
  width: 1043px;
}

/* DESTOP VERSION */
@media screen and (max-width: 670px) {
  .parallax {
    min-height: 400px;
  }
  .card {
    font-size: 11pt;
    margin: 80px auto;
  }
  .kanan {
    margin-top: 20px;
  }
  .kiri {
    border-left: none;
    padding: 0;
  }

  .form {
    margin-top: -60px;
  }
  .form input {
    width: 278px;
  }
}
